!!! 5
%html
  %head
    %title
      = HTMLEntities.new.encode(I18n.t('nav.error.http'), :named) + ' ' + error.to_s + ' | '
      = HTMLEntities.new.encode(I18n.t('nav.error.http_' + error.to_s + '.short'), :named)
    %meta{charset: 'utf-8'}
    %link{rel: 'icon', type: 'image/x-icon', href: '/design/favicon.ico'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/design/style.css'}
  %body
    %header
      %h1
        %a{href: '/index.html'}= Socket.gethostname.capitalize
    %main
      %section#error
        %h2
          = HTMLEntities.new.encode(I18n.t('nav.error.http'), :named) + ' ' + error.to_s
          %br
          = HTMLEntities.new.encode(I18n.t('nav.error.http_' + error.to_s + '.short'), :named)
        %p
          %img{src: '/design/error.png', alt: ''}
          %br
          = HTMLEntities.new.encode(I18n.t('nav.error.http_' + error.to_s + '.full'), :named)
          %br
          %br
          %a{href: '/index.html'}= HTMLEntities.new.encode(I18n.t('nav.back.home'), :named)
    %footer
