!!! 5
%html
  %head
    %title= Socket.gethostname.capitalize + ' | ' + body[:title]
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{rel: 'icon', type: 'image/x-icon', href: '/design/favicon.ico'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/design/style.css'}
    - body[:stylesheets].each do |url|
      - url = current_path + '/' + url unless url.start_with?('/')
      %link{rel: 'stylesheet', type: 'text/css', href: url}
    %script{type: 'module', src: '/design/nav.js'}
    - body[:scripts].each do |script|
      - script[:src] = current_path + '/' + script[:src] unless script[:src].start_with?('/')
      %script{script}
  %body
    %header
      %a{id: 'openmenu'}= '&#9776;'
      %h1
        %a{href: '/index.html', title: I18n.t('nav.back.home')}= Socket.gethostname.capitalize
      %nav
        %a{id: 'closemenu'}= '&times;'
        %ul
          - responders.children_nodes.each do |path, node|
            - if node.children?
              - if node.children_nodes.values.any? { |n| n.value.in_menu? } # Create a dropdown menu entry
                %li
                  %a= I18n.t(path + '.menu', default: path.humanize)
                  %ul
                    - node.children_nodes.each do |subpath, subnode|
                      - if subnode.value.in_menu?
                        %li
                          %a{href: '/' + path + '/' + subpath + '/index.html'}
                            = I18n.t(path + '.' + subpath + '.menu', default: subpath.humanize)
            - else # Create a regular menu entry
              - if node.value.in_menu?
                %li
                  %a{href: '/' + path + '/index.html'}= I18n.t(path + '.menu', default: path.humanize)

    %main
      = body[:content]

    %footer
      %p
        = I18n.t('nav.generated.page') + ' ' + I18n.t('nav.generated.on_host') + ' '
        %em= Socket.gethostname
        = ' ' + I18n.t('nav.generated.on_date') + ' ' + Time.now.strftime(I18n.t('date_format'))
        = ' ' + I18n.t('date_time_separator') + Time.now.strftime(I18n.t('time_format'))
        %br
        %a{id: 'openmodal'}= I18n.t('nav.about')
      %aside#modal
        %div#modal-content
          %h2= 'Intranet'
          %dl
            - modules.each do |name, metadata|
              %dt
                - if metadata[:homepage].nil?
                  = name
                - else
                  %a{href: metadata[:homepage], target: '_blank'}= name
              %dd= metadata[:version]
