/**
 * style.css
 * Design for the IntraNet core.
 */

/***************************************** External Fonts *****************************************/

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/SourceSansPro.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/***************************************** General design *****************************************/

body, html {
  padding: 0px;
  margin: 0px;
  height: 100%;
}
body {
  background: #f7f8fa;
  font-family: "Source Sans Pro", Cantarell, sans-serif;
  color: black;
  font-size: 1.0rem;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-size-adjust: none;
}

h1 {
  font-size: 2.25em;
  text-align: center;
  margin: 1.5em 0px 2em; /* top sides bottom */
}

h2 {
  font-size: 2em;
  text-align: center;
  margin: 1.5em 0px 2em; /* top sides bottom */
}

h3 {
  font-size: 1.3em;
  margin: 3em 0px 1em; /* top sides bottom */
}

h4 {
  font-size: 1.1em;
  margin: 1em 0px 1em;
}

blockquote {
  border-left: 1px solid #d0d0d0;
  padding-left: 1em;
  margin: 2em 0px; /* top/bottom sides */
}

p {
  text-align: justify;
}
p.right {
  text-align: right;
}

hr {
  height: 2px;
  border: 0px;
  background: #1e262b;
  margin: 3em 0px /* top/bottom sides */
}

dt {
  font-weight: bold;
}
dd {
  margin: 0px 0px 1em 2em; /* top right bottom left */
}
dd:last-child {
  margin-bottom: 0px;
}

a {
  color: #6a81aa;
  text-decoration: inherit;
  cursor: pointer;
}

/******************************************* Navigation *******************************************/

body > header {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: auto;
  background-color: #1e262b;
  color: white;
  z-index: 10;
}
body > header h1 {
  float: left;
  font-weight: 500;
  margin: 0px;
  padding: 5px 20px 8px; /* top sides bottom */
}
body > header a {
  color: inherit;
}
body > header nav {
  float: right;
  padding: 0px 20px;
}
body > header nav ul {
  margin: 0px;
  padding: 0px;
}
body > header nav > ul > li {
  display: inline-block;
}
body > header nav > ul > li a {
  display: block;
  padding: 16px 20px;
  margin: 0px;
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.7);
}
body > header nav > ul > li a:hover {
  color: rgba(255, 255, 255, 1.0);
}

/* dropdown menus */
body > header nav > ul > li > ul {
  display: none;
  background-color: #1e262b;
  position: absolute;
}
body > header nav > ul > li > ul > li {
  display: block;
}
body > header nav > ul > li > ul > li a {
  padding: 8px 20px;
}
body > header nav > ul > li:hover > ul, body > header nav > ul > li:active > ul {
  display: block;
}

body > header a#openmenu, body > header a#closemenu {
  display: none;
}

/* Mobile devices only */
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  body > header a#openmenu {
    display: block;
    position: absolute;
    top: 12%;
    left: 20px;
    font-size: 2em;
    font-weight: bold;
  }
  body > header nav a#closemenu {
    display: block;
    font-size: 2.5em;
    font-weight: bold;
    text-align: right;
    margin-right: 0.5em;
  }
  body > header h1 {
    float: none;
    text-align: center;
  }
  body > header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0;
    z-index: 20;
    background: inherit;
    font-size: 1.25em;
    overflow-y: scroll;
    width: 0;
    max-width: 100%;
  }
  body > header nav > ul {
    height: auto;
  }
  body > header nav > ul > li {
    display: block;
  }
  body > header nav > ul > li a {
    padding: 10px 150px 10px 40px; /* top right bottom left */
  }
  body > header nav > ul > li > ul {
    display: block;
    position: static; /* reset absolute positionning */
  }
  body > header nav > ul > li > ul > li a {
    margin: 0px;
    padding: 10px 100px 10px 90px; /* top right bottom left */
  }
}

/* breadcrumb navigation menu */
ul.breadcrumb {
  list-style: none;
  padding: 0px;
  font-size: 0.9em;
  margin-bottom: 1.5em;
}
ul.breadcrumb li {
  display: inline;
}
ul.breadcrumb li+li:before {
  padding: 4px;
  content: "/\00a0";
}

/* Mobile devices only */
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  ul.breadcrumb {
    display: none;
  }
}

/****************************************** Main content ******************************************/

body > main {
  padding: 58px 0px; /* height of the navigation bar */
  width: 85%;
  max-width: 1366px;
  margin: auto;
  min-height: calc(100vh - 2*58px - 66px); /* 2*height of nav bar + height of footer */
}

/* Mobile devices only */
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  body > main section, body > main hr, body > footer p {
    width: 100%;
    margin: auto;
  }
}

body > main div.loading {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 16px solid #eaeaea;
  border-radius: 50%;
  border-top: 16px solid #a0c5e2;
  animation: spin 2s linear infinite;
}
@keyframes spin { /* animation definition */
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/********************************************* Footer *********************************************/

body > footer {
  background: #1e262b;
  color: white;
  padding: 0px;
}
body > footer p {
  text-align: center;
  font-size: 0.9em;
  padding: 15px 0px; /* top sides */
  margin: 0px;
}
body > footer a {
  color: inherit;
}
body > footer aside#modal { /* modal box container */
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: black;
  background-color: rgba(0, 0, 0, 0.8);
}
body > footer aside#modal #modal-content { /* modal box */
  background-color: #f7f8fa;
  margin: auto;
  margin-top: 50vh;
  transform: translateY(-50%);
  padding: 20px 25px 40px; /* top sides bottom */
  border: 1px solid #1e262b;
  width: 25%;
  max-width: 425px;
  min-width: 375px;
}
body > footer aside#modal #modal-content h2 {
  font-size: 1.6em;
  margin: 1em 0px; /* top/bottom sides */
}
body > footer aside#modal #modal-content dl {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 5px 25px;
}
body > footer aside#modal #modal-content dl dt {
  text-align: right;
}
body > footer aside#modal #modal-content dl dd {
  text-align: left;
  margin: 0;
}


/******************************************* Error pages ******************************************/

section#error h2 {
  color: #ff3333;
}
section#error p {
  text-align: center;
}
section#error p img {
  width: 25%;
  margin-bottom: 3em;
}
